.aboutInfo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 80px 100px;
    border-bottom: 3px solid #09322621;
}

.info {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 50px;
}

.aboutContent {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.aboutContent h1 {
    font-size: 40px;
    font-family: Urbanist;
    color: #0E5944;
}

.aboutContent p {
    font-size: 18px;
    font-family: Palatino Linotype;
    color: rgb(65, 64, 64);
}

.aboutImg{
    width: 40%;
}
.aboutImg img{
    width: 100%;
   /* width: 400px;
   height: 300px; */
}